@using BudgetApp.Domain.Models

<div class="container">
    <div class="amountContainer">
        <h2>@Budget?.Amount zł</h2>
    </div>
</div>

@code {
    
    [Parameter]
    public BudgetModel? Budget { get; init; }
    
}