@using BudgetApp.Core
@using BudgetApp.Core.Interfaces.Services
@using BudgetApp.Domain.Models
@using BudgetApp.Helpers
@inject IBudgetService BudgetService
@inject DialogService DialogService

<div class="transactionContainer">
    <div class="buttonContainer">
        <RadzenButton Shade="Shade.Darker" Click="@(_ => AddTransactionDialog())" Text="Add" ButtonStyle="ButtonStyle.Secondary"/>
    </div>
    
    <RadzenDataGrid
        AllowFiltering="true"
        AllowColumnResize="true"
        AllowSorting="true"
        PageSize="10"
        AllowPaging="true"
        Data="@Transactions"
        TItem="TransactionModel">
        <Columns>
            <RadzenDataGridColumn TItem="TransactionModel" Property="CreateDate" Title="Date"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TransactionModel" Property="Amount" Title="Amount"></RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="TransactionModel" Property="Description" Title="Description"></RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</div>

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private BudgetModel budget { get; set; }

    private List<TransactionModel> Transactions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetTransactions();
    }

    private async Task GetTransactions()
    {
        var authState = await AuthState;
        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            var defaultBudget = await BudgetService.GetDefault(authState.GetUserId());
            if (defaultBudget.Success && defaultBudget.Value.Transactions.Any())
            {
                budget = defaultBudget.Value;
                Transactions = defaultBudget.Value.Transactions;
            }
        }
    }

    private async Task AddTransactionDialog()
    {
        var parameters = new Dictionary<string, object>()
        {
            { "BudgetId", budget.Id }
        };

        bool isTransactionAdded = await DialogService.OpenAsync<TransactionForm>("Add transaction", parameters);
        if (isTransactionAdded)
        {
            await GetTransactions();
        }
    }
    
}