@using BudgetApp.Core
@using BudgetApp.Core.Interfaces.Services
@using BudgetApp.Domain.Models
@using BudgetApp.Helpers
@inject IBudgetService BudgetService
@inject DialogService DialogService

<div class="transactionContainer">
    <div class="buttonContainer">
        <RadzenButton Shade="Shade.Darker" Click="@(_ => TransactionDialog())" Text="Add" ButtonStyle="ButtonStyle.Secondary"/>
    </div>
    
    <RadzenDataGrid
        AllowFiltering="true"
        AllowColumnResize="true"
        AllowSorting="true"
        PageSize="10"
        AllowPaging="true"
        Data="@Transactions"
        TItem="TransactionModel"
        RowClick="(e) => TransactionDialog(e.Data)">
        <Columns>
            <RadzenDataGridColumn TItem="TransactionModel" Property="CreateDate" Title="Date"/>
            <RadzenDataGridColumn TItem="TransactionModel" Property="AmountText" Title="Amount"/>
            <RadzenDataGridColumn TItem="TransactionModel" Property="Description" Title="Description"/>
            <RadzenDataGridColumn TItem="TransactionModel" Property="Status" Title="Status"/>
        </Columns>
    </RadzenDataGrid>
</div>

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private BudgetModel budget { get; set; }

    private List<TransactionModel> Transactions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetTransactions();
    }

    private async Task GetTransactions()
    {
        var authState = await AuthState;
        if (authState.User.Identity?.IsAuthenticated ?? false)
        {
            var defaultBudget = await BudgetService.GetDefault(authState.GetUserId(), true);
            if (defaultBudget.Success)
            {
                budget = defaultBudget.Value;
                Transactions = defaultBudget.Value.Transactions;
            }
        }
    }

    private async Task TransactionDialog(TransactionModel? transaction = null)
    {
        var parameters = new Dictionary<string, object>
        {
            { "BudgetId", budget.Id },
            { "BankAccounts", budget.BankAccounts}
        };

        if (transaction is not null)
        {
            parameters.Add("Transaction", transaction);
        }

        var dialogTitle = transaction is null ? "Add transaction" : "Modify transaction";

        bool? isTransactionAdded = await DialogService.OpenAsync<TransactionForm>(dialogTitle, parameters);
        if (isTransactionAdded ?? false)
        {
            await GetTransactions();
        }
    }
    
    
}