.transactionContainer {
    margin-top: 5%;
}

.buttonContainer {
    margin-bottom: 2%;
}

.rz-data-row:hover {
    cursor: pointer;
}

.completed-status {
    color: darkgreen;
}

.scheduled-status {
    color: yellow;
}