@using BudgetApp.Infrastructure
@using BudgetApp.Core.Features.Transactions.Models
@using BudgetApp.Domain.Enums
@using BudgetApp.Core.Features.BankAccounts.Models
@using BudgetApp.Core.Features.Transactions.Commands
@using MediatR
@inject DialogService DialogService
@inject IMediator Mediator

<RadzenTemplateForm TItem="TransactionModel" Data="@TransactionModel" Submit="@Submit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="width: 90%;">
                <RadzenFieldset Text="Transaction">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Description"/>
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" Name="Description" @bind-Value="TransactionModel.Description"/>
                        </div>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Amount"/>
                        </div>
                        <div class="col-md-8">
                            <RadzenNumeric TValue="decimal" Format="c" Name="Amount" @bind-Value="TransactionModel.Amount"/>
                        </div>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Status"/>
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="TransactionModel.Status" Data="Enum.GetValues<TransactionStatusEnum>()"></RadzenDropDown>
                        </div>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Account"/>
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="TransactionModel.BankAccountId" Data="@BankAccounts" TextProperty="Name" ValueProperty="Id"/>
                        </div>
                    </div>
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                </RadzenFieldset>
            </div>
        </div>
    </div>
</RadzenTemplateForm>

@code {
    
    [Parameter]
    public int BudgetId { get; init; }

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; init; }

    [Parameter]
    public TransactionModel? Transaction { get; set; }

    [Parameter]
    public List<BankAccountModel> BankAccounts { get; set; }

    private TransactionModel TransactionModel { get; set; }

    private bool IsNewTransaction { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        IsNewTransaction = Transaction is null;
        
        TransactionModel = Transaction ?? new TransactionModel
        {
            Id = int.MinValue,
            BudgetId = BudgetId,
            BankAccountId = BankAccounts.FirstOrDefault(a => a.IsDefault)?.Id ?? 0
        };
    }

    private async Task Submit()
    {
        var authState = await AuthState;
        var userId = authState.User.GetUserId();

        if (IsNewTransaction)
        {
            var createTransaction = new CreateTransaction()
            {
                UserId = userId,
                TransactionModel = TransactionModel
            };

            await Mediator.Send(createTransaction);
        }
        else
        {
            var updateTransaction = new UpdateTransaction()
            {
                UserId = userId,
                TransactionModel = TransactionModel
            };

            await Mediator.Send(updateTransaction);
        }
        
        //TODO handle add/update result, display error etc
        DialogService.Close(true);
    }
}