@using BudgetApp.Helpers
@inherits LayoutComponentBase

<PageTitle>BudgetApp</PageTitle>

<div class="page">
    <RadzenDialog/>
    <RadzenNotification/>
    <RadzenContextMenu/>
    <RadzenTooltip/>
    
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="/"> Hello, @context.GetUserEmail()</a>
                    <a href="/logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="">Register</a>
                    <a href="/login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
